@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

#signupbox{
    display:flex;
    justify-content: right;
    align-items: center;
    min-height:100vh;
}

#info-image{
    display:flex;
    justify-content: left;
    align-items: center;
    min-height:100vh;
}

.signupdiv{
    min-height:75vh;
    min-width:30vw;
    background-color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:7% 7%;
}

.signupform{    
    display:flex;    
    min-height:60vh;
    min-width:20vw;
    flex-direction: column;
    justify-content: space-between;
}

.inputbox{
    padding:3% 0;
}
.signup{
    font-size: 2.5rem;
}

i{
    font-size: 1.5rem;
}
   
.inputbox input{
    min-width:20vw;
    min-height:3vh;
    border-radius: 5px;
}
.inputbox label{
    font-size: 1.5rem;
    margin:3% 3%;
}

.sign-in a{
    color: orange;
}

.sign-in a:hover{
    text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

@media (max-width:768px){
    #signupbox{
        width:100vw;
        justify-content: center;
    }

    #info-image{
        display:none;
    }
}

.inputbox input{
    outline-color: orange;
}
